{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid hero-image mb-0"></div>

    <div class="container-fluid home-page-content">
        <div class="container">
        <div class="row">
            <div class="col-12 text-font content-heading mt-5 text-white">
                <h1 class="text-center">Welcome to the Premier League Store</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 text-font text-white">
                <h2 class="text-center">The place to keep up with latest news and find all of the Official Kits and Merchandise of the Premier League football teams. </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5 mb-5 d-flex justify-content-center">
                <a class="btn-lg btn-style text-font btn-purple" href="">View Store</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

<!-- Sources used to create this code -->

<!-- https://www.youtube.com/watch?v=4kWHW7da4U8 - For adding the CSS linear gradient -->