{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'news/css/news.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container-fluid page-header text-font">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-9">
                <h1 class="mt-3 mb-3 text-white">News</h1>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container news-wrapper mt-5">
    {% for n in news %}
    <div class="row">
            <div class="col-12 col-md-5">
                <a href="{% url 'news_detail' n.id %}">
                    <img class="news-image" src="{{ n.image.url }}" alt="{{ n.title }}">
                </a>
            </div>
            <div class="col-12 col-md-7 news-content">
                <a href="{% url 'news_detail' n.id %}">
                    <h5 class="text-font text-purple"><strong>{{ n.title }}</strong></h5>
                    <p class="text-font text-color news-description mt-2">{{ n.description }}</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a class="btn btn-pink-outline text-white float-right" href="{% url 'news_detail' n.id %}">
                    <span class="text-bold">Read more</span>
                </a>
            </div>
        </div>
        <hr class="mb-5">
    {% endfor %}
</div>
{% endblock %}
