/* ---------------------------------------------------- Typography */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

.text-font {
    font-family: 'Montserrat', sans-serif;
}

.text-color {
    color: #2f2f2f;
}

.text-purple {
    color: #37003c;
}

.text-white {
    color: #ffffff;
}

.text-pink {
    color: #EA2979;
}

.text-bold {
    font-weight: 600;
}

/* ---------------------------------------------------- Buttons */

a:hover {
    color: #ff2882 !important;
    text-decoration: none;
}

.btn-purple {
    background-color: #37003c;
}

.btn-purple:hover {
    background-color: #00ff87;
}

.btn-purple-outline {
    border: 1px solid #37003c;
    color: #37003c !important;
}

.btn-purple-outline:hover {
    background-color: #37003c;
    color: #ffffff !important;
}

.btn-solid {
    background-color: #37003c;
}

.btn-green {
    background-color: #00ca6c;
    color: #ffffff !important;
}

.btn-green:hover {
    border: 1px solid #00ca6c;
    color: #00ca6c;
}

.checkout-btn {
    background-color: #ff2882;
}

.checkout-btn:hover {
    color: #ffffff !important;
    background-color: #e2005e;
}

.btn-pink-outline {
    border: 1px solid #e2005e;
    color: #e2005e !important;
}

.btn-pink-outline:hover {
    background-color: #e2005e;
    color: #ffffff !important;
}

.remove-item {
    border: 1px solid #f72633;
    color: #f72633;
    cursor: pointer;
}

.remove-item:hover {
    background-color: #f72633;
    color: #ffffff !important;
}

.update-link {
    border: 1px solid #00bd65;
    color: #00bd65;
}

.update-link:hover {
    background-color: #00bd65;
    color: #ffffff !important;
}

/* ---------------------------------------------------- Messages */

.messages-container {
    position: fixed;
    top: 100px;
    right: 15px;
    z-index: 99999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ---------------------------------------------------- Main page header */

.navbar {
    height: 100px;
    background-color: #37003c;
}

.navbar-brand img {
    width: 150px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-collapse {
    background-color: #37003c;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 9999999;
}

/* Taken from the Code Institute - Boutique Ado project */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.hero-image {
     
    text-align: center;
    height: 70vh;
    background-image: url(/media/everton.png);
    background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    margin-bottom: 2rem;
}

/* ---------------------------------------------------- Footer */

footer {
    background-color: #37003c;
}

.footer-logo img {
    width: 300px;
}

footer ul li {
    display: inline;
}

footer li i{
    font-size: 28px;   
    padding: 10% 20px 5%;
}

.social-media-links i:hover {
    color: #ff2882 !important;
}

footer p {
    font-size: 14px;
}


/* ---------------------------------------------------- Home page content */

/* https://www.youtube.com/watch?v=4kWHW7da4U8 - I used this tutorial to create the CSS linear gradient */
.home-page-content {
    background-image: linear-gradient(to top right, #EA2979, #7E1053);
}

.content-heading h1 {
    font-size: 48px;
}

/* ---------------------------------------------------- Store page */


.page-header {
    background-image: linear-gradient(to top right, #F72533, #F9451B);
    margin-top: 100px;
}

.product-card {
    border-top: 5px solid #ff2882;
    box-shadow: 5px 4px 4px #aaaaaa;
}

.btn-nav {
    background-color: #37003c;
    border-radius: 3px;
}

.category-header {
    background-image: linear-gradient(to top right, #EA2979, #7E1053);
    box-shadow: 5px 4px 4px #aaaaaa;
}

.to-top-btn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

.product-info-wrapper {
    margin-top: 100px;
}

/* ---------------------------------------------------- Cart page */

.cart-image {
    width: 200px;
}

.cart-image-sm {
    width: 100px;
}

.empty-cart-sm {
    height: 50vh;
}

.empty-cart-md {
    height: 60vh;
}

@media (min-width: 768px) {
    .cart-image {
        width: 100px;
    }
}

@media (min-width: 992px) {
    .empty-cart-md {
        height: 80vh;
    }
}

@media (min-width: 1200px) {
    .empty-cart-md {
        height: 45vh;
    }
}

.cart-wrapper {
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .cart-wrapper {
        padding-bottom: 30rem;
    }
}

@media (min-width: 1200px) {
    .cart-wrapper {
        padding-bottom: 0px;
    }
}

/* ---------------------------------------------------- All Auth */

.header-container {
    background-color: #e5e5e5;
    box-shadow: 5px 4px 4px #aaaaaa;
}

.sign-up {
    color: #2f2f2f !important;
}

.allauth-form-inner-content input {
    border-color: #2f2f2f;
}

.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #37003c;
}


/* ---------------------------------------------------- News page */

.news-image {
    width: 100%;
    box-shadow: 5px 4px 4px #aaaaaa;
}

.news-description {
    font-size: 12px;
}

.news-content {
    margin-top: 1rem;
}

@media (min-width: 768px) {
    .news-content {
        margin-top: 0px;
    }
    .news-description {
        font-size: 14px;
    }
}

@media (min-width: 992px) {
    .news-description {
        font-size: 16px;
    }
    .news-image {
        width: 400px;
    }
}

/* ---------------------------------------------------- News detail page */

.news-detail-image {
    width: 100%;
}

.news-detail-header {
    margin-top: 100px;
    background-image: linear-gradient(to top right, #7E1053, #EA2979);
}

@media (min-width: 768px) {
    .news-detail-image {
        width: 400px;
    }
}

@media (min-width: 992px) {
    .news-detail-image {
        width: 600px;
    }
}

.edit-comment-wrapper {
    margin-top: 150px;
}









