<li class="nav-item dropdown pl-3 d-block d-lg-none">
    <a class="nav-link active dropdown-toggle btn-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="{% url 'products' %}">
    All Products
    </a>
    <div class="dropdown-menu">
        <a href="" class="dropdown-item">By Price</a>
        <a href="" class="dropdown-item ">By Rating</a>
        <a href="" class="dropdown-item ">By Category</a>
        <a href="" class="dropdown-item">All Products</a>
    </div>
</li>
<li class="nav-item dropdown pl-3 d-block d-lg-none">
    <a class="nav-link active dropdown-toggle btn-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
    Kits
    </a>
    <div class="dropdown-menu">
        <a href="" class="dropdown-item">Home Kits</a>
        <a href="" class="dropdown-item ">Away Kits</a>
        <a href="" class="dropdown-item ">Third kits</a>
        <a href="" class="dropdown-item">Training</a>
    </div>
</li>
<li class="nav-item dropdown pl-3 d-block d-lg-none">
    <a class="nav-link active dropdown-toggle btn-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">
    Teams
    </a>
    <div class="dropdown-menu">
        <a href="" class="dropdown-item">Arsenal</a>
        <a href="" class="dropdown-item">Chelsea</a>
        <a href="" class="dropdown-item">Fulham</a>
        <a href="" class="dropdown-item">Liverpool</a>
        <a href="" class="dropdown-item">Manchester City</a>
        <a href="" class="dropdown-item">Manchester United</a>
        <a href="" class="dropdown-item">Newcastle United</a>
        <a href="" class="dropdown-item">Southampton</a>
        <a href="" class="dropdown-item">Tottenham</a>
        <a href="" class="dropdown-item">West Ham United</a>
    </div>
</li>
<li class="nav-item pl-3 d-block d-lg-none">
    <a class="nav-link btn-nav" href="#">Merchandise</a>
</li>